/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
/image-db/*.png
/image-db/pictures/*-*
/image-db/thumb/*-*
/image-db/icons/*-*
